* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-title {
  font-weight: 600;
}

.app-intro {
  font-size: large;
}


.flex-parent {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-child {
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
}

.flex-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content-container {
  width: 100%;
  padding: 20px;
  text-align: left;
}

.tab-container {
  margin-bottom: 20px;
}

.tab-button {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

}

.personal-data-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.personal-data-container {
  padding: 20px;
  width: 28%;
  min-height: 250px;
  margin: 20px;
  color: white;
}

.personal-data-container h1 {
  border-bottom: 2px solid white;
}

.border-red {
  border: 1px solid rgb(255, 100, 100);
}
.border-green {
  border: 1px solid rgb(100, 255, 100);
}
.border-blue {
  border: 1px solid rgb(100, 100, 255);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
